autopep8
beautifulsoup4
certifi
chardet
comtypes
idna
MouseInfo
Pillow
PyAudio
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-decouple
pyttsx3
PyTweening
pywhatkit
pypiwin32
requests
soupsieve
SpeechRecognition
toml
urllib3
wikipedia
